<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>testtask</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TestTaskDBEntities" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/Models.TestTaskDBModel.csdl|res://*/Models.TestTaskDBModel.ssdl|res://*/Models.TestTaskDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TestTaskDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TestTask.Models.TestTaskDBEntities, TestTask" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="metadata=res://*/Models.TestTaskDBModel.csdl|res://*/Models.TestTaskDBModel.ssdl|res://*/Models.TestTaskDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TestTaskDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TestTaskDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.TestTaskDBModel.csdl|res://*/Models.TestTaskDBModel.ssdl|res://*/Models.TestTaskDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=TestTaskDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TestTaskDBModel.csdl|res://*/Models.TestTaskDBModel.ssdl|res://*/Models.TestTaskDBModel.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.TestTaskDBModel.csdl|res://*/Models.TestTaskDBModel.ssdl|res://*/Models.TestTaskDBModel.msl;provider=System.Data.SqlClient;provider connection string="data source=(localdb)\MSSQLLocalDB;initial catalog=TestTaskDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework";MultipleActiveResultSets=True;App=EntityFramework'</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TestTaskDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TestTaskDBModel.csdl|res://*/Models.TestTaskDBModel.ssdl|res://*/Models.TestTaskDBModel.msl;provider=System.Data.SqlClient;provider connection string='metadata=res://*/Models.TestTaskDBModel.csdl|res://*/Models.TestTaskDBModel.ssdl|res://*/Models.TestTaskDBModel.msl;provider=System.Data.SqlClient;provider connection string="data source=(localdb)\MSSQLLocalDB;initial catalog=TestTaskDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>